@media(max-width: 1000px) {

  ul{
    font-size: 13px;
    text-align: center;
  }
  input, textarea{
    width: 260px;
    padding: 11px;
    font-size: 15px;
    border-radius: 14px;
  }
  input{
    height: 9px;
  }
  textarea{
    height: 60px;
  }
  .btn {
    opacity: 0.8;
    border-radius: 9px;
  }
  .message {
    margin-top: 32px;
    padding: 9px 32px;
  }
  .wrapper h4{
    font-size: 31px;
  }
  .wrapper p {
    font-size: 12px;
    margin-top:0px;
  }

  .ulasan_data, .ulasan_kirim{
    margin: 0 auto;
  }
}
@media(max-width: 670px) {
  ul{
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px;
    padding-right: 40px;
  }
  li {
    width: 100%;
  }
  input, textarea{
    width: 250px;
    padding: 9px;
    font-size: 14px;
    border-radius: 14px;
  }
  textarea{
    height: 30px;
  }
  .btn {
    padding: 1px;
    opacity: 0.8;
    border-radius: 8px;
  }
  .message {
    margin-top: 25px;
    padding: 7px 30px;
    box-shadow: 0 4px #F9D5A7;
  }
  .wrapper h4{
    font-size: 25px;
    margin:0px;
  }
  .wrapper p {
    font-size: 12px;
    margin-top:0px;
  }
}